aiohttp==3.13.2
apscheduler==3.11.2
fastapi==0.128.0
fastapi_jwt==0.3.0
pwdlib==0.3.0
pydantic==2.12.5
python-decouple==3.8
SQLAlchemy==2.0.45
sqlmodel==0.0.31
uvicorn==0.40.0
fastapi[standard]
pwdlib[argon2]
authlib==1.6.6
psycopg2-binary==2.9.11
